html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* BASE STYLES */
html, body {
  width: 100%;
  min-height: 99%;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  background: #4b77be;
  height: 100%;
}

/* MAIN STYLES */
.main {
  width: 100%;
  max-width: 980px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: #ffffff;
}

video {
  width: 100%;
  height: auto;
  background: transparent;
}

.main__player-wrap {
  position: relative;
}

.main__player-controls {
  width: 100%;
  position: absolute;
  bottom: 2px;
  border-bottom: 3px solid #F9690E;
}

.bar__wrap {
  width: 100%;
  height: 10px;
  position: relative;
  background: rgba(255, 255, 255, 0.7);
}
@media (min-width: 550px) {
  .bar__wrap {
    height: 20px;
  }
}
.bar__wrap .player__bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #FFA400;
  z-index: 500;
}

.player__bar {
  position: relative;
  top: -3px;
  z-index: 501;
  width: 100%;
  height: 100%;
  background: transparent;
  margin: 0;
  border: none;
  -webkit-appearance: none;
  cursor: pointer;
}
.player__bar::-webkit-slider-thumb {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-appearance: none;
  border: none;
  height: 10px;
  width: 50px;
  margin: 0;
  background: #ffffff;
}
@media (min-width: 550px) {
  .player__bar::-webkit-slider-thumb {
    height: 20px;
    width: 60px;
  }
}
.player__bar::-moz-range-thumb {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-appearance: none;
  border: none;
  height: 10px;
  width: 50px;
  margin: 0;
  background: #ffffff;
}
@media (min-width: 550px) {
  .player__bar::-moz-range-thumb {
    height: 20px;
    width: 60px;
  }
}
.player__bar::-ms-thumb {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-appearance: none;
  border: none;
  height: 10px;
  width: 50px;
  margin: 0;
  background: #ffffff;
}
@media (min-width: 550px) {
  .player__bar::-ms-thumb {
    height: 20px;
    width: 60px;
  }
}

.player__volume {
  height: 10px;
  width: 60px;
  background: #F62459;
  margin: 0;
  border: none;
  -webkit-appearance: none;
  cursor: pointer;
}
.player__volume::-webkit-slider-thumb {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-appearance: none;
  border: none;
  height: 14px;
  width: 14px;
  margin: 0;
  background: #ffffff;
}
.player__volume::-moz-range-thumb {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-appearance: none;
  border: none;
  height: 14px;
  width: 14px;
  margin: 0;
  background: #ffffff;
}
.player__volume::-ms-thumb {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-appearance: none;
  border: none;
  height: 14px;
  width: 14px;
  margin: 0;
  background: #ffffff;
}

.player__buttons {
  position: relative;
  z-index: 200;
  width: 100%;
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.5);
  bottom: 0;
}
.player__buttons--hidden {
  display: none;
}
.player__buttons button {
  display: inline-block;
  background: transparent;
  width: 20px;
  height: 20px;
  margin: 5px;
  padding: 0;
  border: none;
}
@media (min-width: 550px) {
  .player__buttons button {
    height: 40px;
    width: 40px;
  }
}
.player__buttons button.btn__play {
  background-image: url("../icons/play-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.player__buttons button.btn__play--pause {
  background-image: url("../icons/pause-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.player__buttons button.btn__restart {
  background-image: url("../icons/restart-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.player__buttons button.btn__rewind {
  background-image: url("../icons/rewind-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.player__buttons button.btn__forward {
  background-image: url("../icons/forward-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.player__buttons button.btn__mute {
  background-image: url("../icons/mute-icon-nonmuted.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.player__buttons button.btn__mute--muted {
  background-image: url("../icons/mute-icon-muted.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.player__buttons button.btn__subtitles {
  background-image: url("../icons/cc-icon-off.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.player__buttons button.btn__subtitles--showing {
  background-image: url("../icons/cc-icon-on.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.main__transcript {
  overflow-y: scroll;
  height: 200px;
  width: 100%;
}
.main__transcript p {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  margin-bottom: 60px;
  padding: 10px;
}
.main__transcript span {
  cursor: pointer;
  color: #111111;
}
.main__transcript span:hover {
  color: #4b77be;
}
.main__transcript span.highlighted {
  color: #FFA400;
  text-decoration: underline;
}
.main__transcript span.highlighted:hover {
  color: #F9690E;
}
