html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* BASE STYLES */
html, body {
  width: 100%;
  min-height: 99%;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  background: #044F67;
  height: 100%;
}

/* MAIN STYLES */
.main {
  width: 100%;
  max-width: 980px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: #ffffff;
}

video {
  width: 100%;
  height: auto;
  background: #111111;
}

.player__buttons {
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  position: relative;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  background: #111111;
  top: -5px;
  margin-bottom: 15px;
}
.player__buttons button.btn__play {
  background: url("../icons/play-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 0;
  border: none;
}
.player__buttons button.btn__play.btn__play--play {
  background: url("../icons/play-icon.png");
  background-repeat: no-repeat;
  background-position: center;
}
.player__buttons button.btn__play.btn__play--pause {
  background: url("../icons/pause-icon.png");
  background-repeat: no-repeat;
  background-position: center;
}
.player__buttons button.btn__restart {
  background: url("../icons/restart-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 0;
  border: none;
}
.player__buttons button.btn__rewind {
  background: url("../icons/rewind-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 0;
  border: none;
}

.main__transcript {
  min-height: 400px;
  width: 100%;
}
.main__transcript p {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  margin-bottom: 60px;
  padding: 10px;
}
.main__transcript span {
  cursor: pointer;
  color: #111111;
}
.main__transcript span:hover {
  color: #4b77be;
}
.main__transcript span.highlight {
  color: #FFA400;
}
.main__transcript span.highlight:hover {
  color: #F9690E;
}
