/* MAIN STYLES */
.main {
  @include single-box-shadow(0, 0, 10px, 0, $color-black);
  width: 100%;
  max-width: 980px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: $color-white;
}
