video {
  width: 100%;
  height: auto;
  background: $color-black;
}
.player__bar-wrap {
  width: 100%;
  height: 30px;
  background: $color-black;
  margin-top: -7px;
  .player__bar {
    background: $color-black;
    width: 100%;
    height: 100%;
    border: none;
  }
  input[type=range] {
    -webkit-appearance: none;
    border: none;
    margin: 0;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: $color-body-bg;
    border: none;
    margin: 0;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 40px;
    margin: 0 0 2px 0;
    background: url('../icons/track-thumb-icon.png') no-repeat center;
  }
}
.player__buttons {
  @include single-transition(all, 300ms, ease-out);
  position: relative;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  background: $color-black;
  top: -5px;
  margin-bottom: 15px;
  button {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 0;
    border: none;
    &.btn__play {
      background: url('../icons/play-icon.png') no-repeat center;
      &.btn__play--play {
        background: url('../icons/play-icon.png') no-repeat center;
      }
      &.btn__play--pause {
        background: url('../icons/pause-icon.png') no-repeat center;
      }
    }
    &.btn__restart {
      background: url('../icons/restart-icon.png') no-repeat center;
    }
    &.btn__rewind {
      background: url('../icons/rewind-icon.png') no-repeat center;
    }
    &.btn__forward {
      background: url('../icons/forward-icon.png') no-repeat center;
    }
    &.btn__mute {
      background: url('../icons/mute-icon-nonmuted.png') no-repeat center;
      &.btn__mute--muted {
        background: url('../icons/mute-icon-muted.png') no-repeat center;
      }
    }
  }
}
