%btn-ex {
  background-repeat: no-repeat;
  background-position: center;
}
video {
  width: 100%;
  height: auto;
  background: $color-black;
}
.player__buttons {
  @include single-transition(all, 300ms, ease-out);
  position: relative;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  background: $color-black;
  top: -5px;
  margin-bottom: 15px;
  button {
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 0;
    border: none;
    &.btn__play {
      background: url('../icons/play-icon.png');
      background-repeat: no-repeat;
      background-position: center;
      &.btn__play--play {
        background: url('../icons/play-icon.png');
        background-repeat: no-repeat;
        background-position: center;
      }
      &.btn__play--pause {
        background: url('../icons/pause-icon.png');
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    &.btn__restart {
      background: url('../icons/restart-icon.png');
      background-repeat: no-repeat;
      background-position: center;
    }
    &.btn__rewind {
      background: url('../icons/rewind-icon.png');
      background-repeat: no-repeat;
      background-position: center;
    }
    &.btn__forward {
      background: url('../icons/forward-icon.png');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
