// the player
video {
  width: 100%;
  height: auto;
  background: transparent;
}
// player & controls wrap
.main__player-wrap {
  position: relative;
}
// player controls
.main__player-controls {
  width: 100%;
  position: absolute;
  bottom: 2px;
  border-bottom: 3px solid $color-gold-hover;
}
// seek bar wrap div
.bar__wrap {
  @include query-550 {
    height: 20px;
  }
  width: 100%;
  height: 10px;
  position: relative;
  background: $color-bar-bg;
  // bar fill div
  .player__bar-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: $color-bar-fill;
    z-index: 500;
  }
}
// seek bar
.player__bar {
  position: relative;
  top: -3px;
  z-index: 501;
  width: 100%;
  height: 100%;
  background: transparent;
  margin: 0;
  border: none;
  -webkit-appearance: none;
  cursor: pointer;
  // webkit thumb
  &::-webkit-slider-thumb {
    @include border-radius();
    @include query-550 {
      height: 20px;
      width: 60px;
    }
    -webkit-appearance: none;
    border: none;
    height: 10px;
    width: 50px;
    margin: 0;
    background: $color-white;
  }
  // moz thumb
  &::-moz-range-thumb {
    @include border-radius();
    @include query-550 {
      height: 20px;
      width: 60px;
    }
    -webkit-appearance: none;
    border: none;
    height: 10px;
    width: 50px;
    margin: 0;
    background: $color-white;
  }
  // ms thumb
  &::-ms-thumb {
    @include border-radius();
    @include query-550 {
      height: 20px;
      width: 60px;
    }
    -webkit-appearance: none;
    border: none;
    height: 10px;
    width: 50px;
    margin: 0;
    background: $color-white;
  }
}
// player volume
.player__volume {
  height: 10px;
  width: 60px;
  background: $color-red;
  margin: 0;
  border: none;
  -webkit-appearance: none;
  cursor: pointer;
  // webkit thumb
  &::-webkit-slider-thumb {
    @include border-radius();
    -webkit-appearance: none;
    border: none;
    height: 14px;
    width: 14px;
    margin: 0;
    background: $color-white;
  }
  // moz thumb
  &::-moz-range-thumb {
    @include border-radius();
    -webkit-appearance: none;
    border: none;
    height: 14px;
    width: 14px;
    margin: 0;
    background: $color-white;
  }
  // ms thumb
  &::-ms-thumb {
    @include border-radius();
    -webkit-appearance: none;
    border: none;
    height: 14px;
    width: 14px;
    margin: 0;
    background: $color-white;
  }
}
// player buttons
.player__buttons {
  position: relative;
  z-index: 200;
  width: 100%;
  margin: 0;
  padding: 0;
  background: $color-button-bg;
  bottom: 0;
  &--hidden {
    display: none;
  }
  // general button styles
  button {
    @include query-550 {
      height: 40px;
      width: 40px;
    }
    display: inline-block;
    background: transparent;
    width: 20px;
    height: 20px;
    margin: 5px;
    padding: 0;
    border: none;
    // play button
    &.btn__play {
      @include btn-background(url('../icons/play-icon.svg'));
      // pause class
      &--pause {
        @include btn-background(url('../icons/pause-icon.svg'));
      }
    }
    // restart button
    &.btn__restart {
      @include btn-background(url('../icons/restart-icon.svg'));
    }
    // rewind button
    &.btn__rewind {
      @include btn-background(url('../icons/rewind-icon.svg'));
    }
    // fast forward button
    &.btn__forward {
      @include btn-background(url('../icons/forward-icon.svg'));
    }
    // mute button
    &.btn__mute {
      @include btn-background(url('../icons/mute-icon-nonmuted.svg'));
      // muted class
      &--muted {
        @include btn-background(url('../icons/mute-icon-muted.svg'));
      }
    }
    &.btn__subtitles {
      @include btn-background(url('../icons/cc-icon-off.svg'));
      &--showing {
        @include btn-background(url('../icons/cc-icon-on.svg'));
      }
    }
  }
}
